* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  
  --bg-size: 400%;

  --color-gradient: linear-gradient(
    90deg,
    hsl(0, 0%, 100%),
    hsl(330, 86%, 46%),
    hsl(271, 97%, 48%),
    hsl(330, 86%, 46%),
    hsl(0, 0%, 100%)
  )
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
}

img {
  width: 25.6rem;
  height: 25.6rem;
}

svg {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

header {
  width: 100%;
  height: 8rem;
  border: 1px solid #181818;
}

nav {
  max-width: 112rem;
  width: 100%;
  height: 8rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  background:var(--color-gradient);
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.title {
  font-size: 6rem;
  margin-top: 5rem;
  font-weight: 900;
  line-height: 200%;
  background-size: var(--bg-size);
  background: var(--color-gradient) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

main {
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 2rem;
  padding: 2rem;
  align-items: center;
}

.card {
  height: 30rem;
  width: 30rem;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card img {
  border-radius: 2.4rem;
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}
