* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --bg-size: 400%;

  --color-gradient-static: linear-gradient(
    90deg,
    hsl(330, 86%, 46%),
    hsl(271, 97%, 48%),
    hsl(0, 0%, 100%),
    hsl(330, 86%, 46%)
  );

  --color-gradient-animation: linear-gradient(
    90deg,
    hsl(0, 0%, 100%),
    hsl(330, 86%, 46%),
    hsl(271, 97%, 48%),
    hsl(330, 86%, 46%),
    hsl(0, 0%, 100%)
  );
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
}

img {
  width: 25.6rem;
  height: 25.6rem;
}

svg {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}

#github, #linkedin, #pomodoro 
#html5,#css3,#js{
  transition: transform 0.8s ease-in-out;
}

#github:hover {
  fill: rgb(218, 16, 117);
  transform: scale(1.1);
}

#linkedin:hover {
  fill: rgb(0, 0, 255);
  transform: scale(1.1);
}

#pomodoro:hover {
  fill: rgb(240, 15, 15);
  transform: scale(1.1);
}

#html5:hover {
  fill: #f0560f;
  transform: scale(1.1);
}

#css3:hover {
  fill: rgb(36, 39, 202);
  transform: scale(1.1);
}

#js:hover {
  fill: rgb(240, 206, 15);
  transform: scale(1.1);
}

header {
  width: 100%;
  height: 8rem;
  border: 1px solid #181818;
}

nav {
  max-width: 112rem;
  width: 100%;
  height: 8rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  background: var(--color-gradient-static);
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.social {
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
}

.title {
  font-size: 6rem;
  margin-top: 5rem;
  font-weight: 900;
  line-height: 200%;
  background-size: var(--bg-size);
  background: var(--color-gradient-animation) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: move-bg 8s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

main {
  max-width: 112rem;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 2rem;
  padding: 2rem;
  align-items: center;
}

.card {
  height: 30rem;
  width: 30rem;
}

.card img {
  border-radius: 2.4rem;
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
  cursor: pointer;
  width: 30rem;
  height: 30rem;
  box-shadow: 0px 0px 30px 20px hsl(330, 86%, 46%), 0px 0px 0px 10px inset;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  gap: 0.5rem;
}

footer span {
  background: var(--color-gradient-static);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
